/* removes basic styling of browser */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #ffffff;
	font-family: 'Nunito', sans-serif;
	min-height: 100vh;
}

header {
	display: flex;
	justify-content: center;
	padding-top: 4rem;
}

header h1 {
	font-size: 2.5rem;
}

.form {
	margin-top: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* input */
.todo-input {
	border: 1px solid #d9d9d9;
	padding: 0.7rem;
	font-size: 1.4rem;
}

.todo-input:hover {
	border: 1px solid #40a9ff;
}

.todo-input:focus {
	outline: none;
}

.todo-input-error {
	border: 1px solid #DC3545;
}


/* submit */
.todo-submit {
	color: #1890ff;
	border: 1px solid #d9d9d9;
	border-left: none;
	height: 50px;
	width: 50px;
	font-size: 1.4rem;
	background: white;
	cursor: pointer;
}

.todo-submit:hover {
	background-color: #1890ff;
	border-right: 1px solid #1890ff;
	border-top: 1px solid #1890ff;
	border-bottom: 1px solid #1890ff;
	color: white;
}

/* todo list */
.todo-list {
	width: 60%;
	margin: 3rem auto 0 auto;
	list-style-type: none;
}

/* todo item */
.todo-item {
	display: flex;
	margin: 1rem 0;
	height: 50px;
	box-shadow: rgba(199, 205, 216, 0.45) 0px 2px 4px 0px, rgba(199, 205, 216, 0.16) 0px 4px 12px 0px;
}

.text {
	flex: 1;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	font-weight: 300;
	color: rgb(48, 52, 70);
}

.complete-btn,
.delete-btn {
	outline: none;
	border: 0.5px solid #1890ff;
	transition: all 0.3s ease;
	background-color: #1890ff;
	width: 50px;
	cursor: pointer;
}
.complete-btn {
	margin-right: 10px;
}
.complete-btn:hover,
.delete-btn:hover {
	color: white;
	transform: scale(1.2);
	background-color: #ffffff;
}

.complete-btn:hover .checkmark-svg,
.delete-btn:hover .delete-svg {
	fill: #1890ff;
}

.checkmark-svg,
.delete-svg {
	fill: white;
}
